div.card-grouping {
    width: 100%;
    height: 480px;
    background-color: #4267B2;
}

container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 3%;
    margin-left: 3%;
}

div.card {
    width: 318px;
    height: 400px;
    padding: 20px;
    margin: 15px;
    background-color: white;
}

div.card img {
    width: 276px;
    height: 156.226px;
}